## Movies Recommander System

In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies.merge(credits,on='title')

In [ ]:
movies.merge(credits,on='title').shape

In [ ]:
movies = movies.merge(credits,on='title')

In [ ]:
movies.head(1)

In [ ]:
movies.info()

In [ ]:
# genres
# id
# keywords
# overview
# popularity (not for our use)
# release_date (not for our use)
# title 
# cast
# crew

movies = movies[['id','title','overview','genres','keywords','cast','crew']]

In [ ]:
# new movies data of 7 column
movies.head()

#### New data frame only 3 column ####
      id | title| tags
 tags will come after merging all 5 column
 then perform data preprocessing in tags(remove duplicate, only top 3 cast, in crew only director )

In [ ]:
# missing data finding
movies.isnull().sum()

In [ ]:
# drop or delete those movies which have no overview
movies.dropna()

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies.isnull().sum() #now no null values in our data

In [ ]:
# Check duplicate data
movies.duplicated().sum() 
# o/p says no duplicates in data

In [ ]:
# data of genres column
movies.iloc[0].genres 
# o/p says it is in list of dictionary (wiered)

In [ ]:
# from '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# we want  ["Action","Adventure","Fantasy","Science Fiction"]
import ast

In [ ]:
# create helper function named convert
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj): # loop works in upper dictionaries like {A:345,B:324,C:"dgdg"} then so on 
        L.append(i['name']) # in one dictionary we only take only "name" not "id"
    return L

In [ ]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

In [ ]:
movies['genres'] = movies['genres'].apply(convert)

In [ ]:
movies.head() 
# o/p shows complexity of genres column is now solved

In [ ]:
# Now apply same thing for for keywords column
movies['keywords'] = movies['keywords'].apply(convert)

In [ ]:
movies.head() 
# o/p shows complexity of keywords column is now solved

In [ ]:
movies['cast'][0]

In [ ]:
# Now apply same thing for cast column but we only go in 3 dictionaries(bcz we only take 3 main actors)

# create helper function named convert
def convert3(obj):
    L=[]
    counter = 0
    for i in ast.literal_eval(obj): # loop works in upper dictionaries like {A:345,B:324,C:"dgdg"} then so on 
        if counter != 3:
            L.append(i['name']) # in one dictionary we only take only "name" not "id"
            counter+=1
        else:
            break    
    return L

In [ ]:
# cast is string of list and we need in integer i.e. why it give error in movies['cast'].apply(convert3) 
# without ast function

In [ ]:
movies['cast'] = movies['cast'].apply(convert3)

In [ ]:
movies.head()
# o/p shows complexity of cast column is now solved

In [ ]:
movies['crew'][0] # we need only director name

In [ ]:
# Now apply same thing for crew column but we only go in where job is director and its name in output

# create helper function named convert movies['cast'].apply(convert3)
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name']) 
            break
    return L

In [ ]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [ ]:
movies.head()

In [ ]:
movies['overview'][0]
# o/p shows it is string

In [ ]:
# convert string to list for easy in concatenation
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
movies.head()

In [ ]:
# Removing space b/w one tags like Sam Worthington to SamWorthington
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
movies.head()

In [ ]:
# Make one column Tags by concatenation of genres,keywords,cast and crew
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [ ]:
# Make new table 
new_df = movies[['id','title','tags']]

In [ ]:
new_df

In [ ]:
# now convert tags list datatypes to string
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x)) # join at space

In [ ]:
new_df

In [ ]:
new_df['tags'][0]

In [ ]:
new_df['tags'][1]

In [ ]:
# convert it into lower case
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [ ]:
new_df.head()

In [ ]:
new_df['tags'][1]

In [ ]:
# come here after the text vectorization for apply stamming ***(^)***
!pip install nltk

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
# make helper function 
# first convert every list to string then stem every word 


def stem(text):
    y= []
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [ ]:
# Now apply sremmering for  table new_df's column named tags
new_df['tags'] = new_df['tags'].apply(stem)

Now apply Text vectorization and doesn't consider stop words

In [ ]:
# Removing the stop words 
from sklearn.feature_extraction.text import CountVectorizer
# make object cv
# (max_features = 5000 ) means Total number of common tags taken
cv = CountVectorizer(max_features=5000 ,stop_words='english')

In [ ]:
# list of common tags or words in corpus 

# One problem is that many same word is also come (accept,accepts,accepted)
# Solution : Apply stamming ( accept,accept,accepts)
# apply it to whole tags column big data ***(^)***

In [ ]:
cv.fit_transform(new_df['tags']).toarray()
# o/p shows all movies are convert into vectors.

In [ ]:
cv.fit_transform(new_df['tags']).toarray().shape

In [ ]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vectors[0]

In [ ]:
cv.get_feature_names()

In [ ]:
len(cv.get_feature_names())
# 5000 common words which have frequency

In [ ]:
# Apply stammer function
ps.stem('loved')
ps.stem('walking')

In [ ]:
ps.stem("captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski")

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity   #simalirity is opposite of distance and in b/w 0-1

In [ ]:
cosine_similarity(vectors)
# o/p shows diagonal is always 1
# means similarity with itself

In [ ]:
cosine_similarity(vectors).shape
# distance of 1'st vector with other 4806 vectors
# distance of 2'nd vector with other 4806 vectors
# distance of 3'rd vector with other 4806 vectors
# .
# .
# distance of 4806'th vector with other 4806 vectors

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
similarity[0]
# o/p shows distance of 1'st vector with other 4806 vectors

In [ ]:
sorted(similarity[0],reverse=True)

In [ ]:
# we need index also, this with this
similarity = cosine_similarity(vectors)

In [ ]:

list(enumerate(similarity[0]))

In [ ]:
# perform sorting on the basis of similarity not indexes
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

In [ ]:
# function, i/p -> any movie
#           o/p -> recommend any near similar 5 movies
#           sol. or algo ->  1) from movie find its index position number(called movie_index) from the table
#                            2) find its distance or similary with other 4806 movies 
#                            3) sort in descending order(perform above 3 rows) and fetch top 5 similar movies(first index then movie)
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x: x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [ ]:
recommend("Falcon Rising")

In [ ]:
# print(i[0])
# new_df.iloc[1216].title

NOW DEVELOPMENT

In [1]:
import pickle

In [2]:
# first we convert it into dictionary then send it into pycharm project
new_df.to_dict()

NameError: name 'new_df' is not defined

In [3]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb')) # for opening new file

NameError: name 'new_df' is not defined

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))